<h2><%= @recipe.name %></h2>
<strong>Ingredients:</strong>
<p><%= @recipe.ingredients %></p>
<strong>Instructions:</strong>
<p><%= @recipe.instructions %></p>
<br><small>Created by <%= @recipe.user.name %> on</small></br>
<small><%= @recipe.formatted_created_at %></small>
<br></br>
<small>Updated on <%= @recipe.formatted_updated_at %></small>
<br></br>

<% if authorized_to_edit?(@recipe) %>
  <br><a href="recipes/<%= @recipe.id %>/edit">Edit Recipe</a></br>
  <br></br>
  <form class="" action="recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Recipe">
  </form>
<% end %>
